<html>
<head>
    <title>自动化运维平台</title>
        <style type="text/css">
        #aaa {color:red;}
        #bbb {color:green;}
         .center {text-align: center，color:green}
       .list h1{
            color: #f60;
            background: #666;
        }
        #red h2{
            color: #f60;
            background: #FFFFFFF;
        }
    </style>
</head>

<body>
hello world
<p id="aaa">这个段落是红色。</p>
<p id="bbb">这个段落是绿色。</p>
 <h1 class="center">
        This heading will be center-aligned
    </h1>
  <div class="list">
        <h1>我使用h1的样式</h1>
    </div>
    <div id='red'>
        <h2 >我使用h2的样式</h2>
    </div>


</body>

</html>