{% extends "base.html" %}
{% block head %}

<!-- Plugin Css-->
        <link rel="stylesheet" href="/static/assets/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="/static/assets/jquery-datatables-editable/datatables.css" />

        <link href="/static/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">

{% endblock %}



{% block content %}


            <!-- Page Content Start -->
            <!-- ================== -->

            <div class="wraper container-fluid">
                <div class="page-title">
                    <h3 class="title">需求&BUG详情</h3>
                </div>


                <div class="panel">
                        <table class="table table-bordered table-striped" id="user_p">
                            <thead>
                                <tr>
                                    <th class="text-center" >名称</th>
                                    <th class="text-center" >内容</th>
                                    <th class="text-center" >CodeName</th>
                                    <th class="text-center" >编辑</th>
                                </tr>
                            </thead>
                            <tbody>

<!--                            这里加一行form - post表 用jq判断 如果点击添加就弹出来-->
                                    {% for user in users %}
                                <tr class="gradeA">
                                    <td class="text-center">{{ user.name}} </td>
                                    <td class="text-center">{{ user.content_type }}</td>
                                    <td class="text-center">{{ user.codename }}</td>
                                    <td class="actions ">
                                        <a href="/userpermission_updata/{{user.id}}" class="on-default edit-row">编辑</a>
                                    </td>
                                </tr>
                                        {% endfor %}

                            </tbody>
                        </table>




                    </div>
                    <!-- end: page -->

                </div> <!-- end Panel -->


            </div>
            <!-- Page Content Ends -->
            <!-- ================== -->


{% endblock %}



{% block js %}

<script src="/static/assets/sweet-alert/sweet-alert.min.js"></script>

        <script type="text/javascript">
             $(document).ready(function() {
                $('#user_p').DataTable({
                    "pagingType": "full_numbers",
                    "language": {
                        "sInfo": "当前显示第 _START_ 到第 _END_ 条，共 _TOTAL_ 条",
                        "sInfoFiltered": "(从_MAX_条筛选 )",
                        "sSearch": "搜索:",
                        "sInfoEmpty": "共筛选到0条",
                        "sLengthMenu": "每页显示 _MENU_ 条",
                        "sZeroRecords": "未找到您搜索的内容，请确认搜索信息",
                        "paginate": {
                            "sFirst": "首页",
                            "sLast": "尾页",
                            "sPrevious": "上一页 ",
                            "sNext": " 下一页",
                            "first": "First page",
                            "last": "Last page",
                            "next": "Next page",
                            "previous": "Previous page"
                        }
                    }
                });
            } );
         </script>


        <!-- Examples -->
        <script src="/static/assets/jquery-datatables-editable/jquery.dataTables.js"></script>
        <script src="/static/assets/datatables/dataTables.bootstrap.js"></script>


{% endblock %}