{% extends "base.html" %}
{% block head %}

<!-- Plugin Css-->
        <link rel="stylesheet" href="/static/assets/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="/static/assets/jquery-datatables-editable/datatables.css" />
        <link href="/static/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="wraper container-fluid">
    <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 m-b-30">
                               <a  href="/contacts/contactsadd/"><button  class="btn btn-primary waves-effect waves-light"> 添加联系人<i class="fa fa-plus"></i></button></a>
                            </div>
                        </div>

                        <table class="table table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th class="text-center" >姓名</th>
                                    <th class="text-center" >性别</th>
                                    <th class="text-center" >职务</th>
                                    <th class="text-center" >所属公司</th>
                                    <th class="text-center" >所属项目</th>
                                    <th class="text-center" >联系方式</th>
                                    <th class="text-center" >人员类型</th>
                                    <th class="text-center" >编辑</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% for contacts in contactss %}
                                <tr>
                                    <td>{{contacts.name}} </td>
                                    <td>{% if contacts.sex == 0 %} 男 {% elif contacts.sex == 1%} 女 {%endif%}</td>
                                    <td>{{contacts.occupation}}</td>
                                    <td>{{contacts.company}}</td>
                                    <td>{{contacts.project}}</td>
                                    <td>{{contacts.phone }}</td>
                                    <td>{% if contacts.type == 0 %} 客户 {% elif contacts.type == 1%} 友商 {% elif contacts.type == 2%} 内部{%endif%}</td>
                                    <td class="actions">
                                        <a href="/contacts/contactsupdata/{{contacts.id}}" class="btn btn-primary btn-xs">编辑</a>
                                        {% if perms.auth.delete_group %}
                                        <a class="btn btn-danger btn-xs sa-warning"  uid = "{{ contacts.id }}" uname = "{{ contacts.name }}">删除</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}

                        </tbody>
                        </table>




                    </div>
                    <!-- end: page -->

                </div> <!-- end Panel -->




</div>










{% endblock %}

{% block js %}
        <script src="/static/assets/sweet-alert/sweet-alert.min.js"></script>

        <script type="text/javascript">
             $(document).ready(function() {
                $('#example1').DataTable({
                    "pagingType": "full_numbers",
                    "language": {
                        "sInfo": "当前显示第 _START_ 到第 _END_ 条，共 _TOTAL_ 条",
                        "sInfoFiltered": "(从_MAX_条筛选 )",
                        "sSearch": "搜索:",
                        "sInfoEmpty": "共筛选到0条",
                        "sLengthMenu": "每页显示 _MENU_ 条",
                        "sZeroRecords": "未找到您搜索的内容，请确认搜索信息",
                        "paginate": {
                            "sFirst": "首页",
                            "sLast": "尾页",
                            "sPrevious": "上一页 ",
                            "sNext": " 下一页",
                            "first": "First page",
                            "last": "Last page",
                            "next": "Next page",
                            "previous": "Previous page"
                        }
                    }
                });
            } );
         </script>

<script type="text/javascript">
    //Parameter
    $('.sa-warning').on('click',function(){
        var delid = $(this).attr("uid")
        swal({
            title: "警告!",
            text: "您正在删除联系人：" + $(this).attr("uname") ,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确认删除!",
            cancelButtonText: "取消删除！",
            closeOnConfirm: false,
            closeOnCancel: false
        },function(isConfirm){
            if (isConfirm) {
                $.ajax({
                    url:"/contacts/contactsdel/",
                    type:"post",
                    data:{"id": delid},

                    success: function(msg){
                        if (msg.code ==0){
                            swal("成功!", msg.result, "success");
                        }else{
                            swal("失败!", msg.result, "error");
                            }
                                            }
                    })

            } else {
                swal("取消", "您取消了删除操作", "error");
            }
        });
    });
</script>

        <!-- Examples -->
        <script src="/static/assets/jquery-datatables-editable/jquery.dataTables.js"></script>
        <script src="/static/assets/datatables/dataTables.bootstrap.js"></script>




{% endblock %}