{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="/static/assets/jqcloud/jqcloud.css">
    <style>
        .panel-small{border: 1px solid #DDDDDD;box-shadow: none!important;}
        .panel-small .panel-heading{border-bottom: 1px solid #DDDDDD!important; padding: 15px 30px!important;}
        .panel-small .panel-heading .panel-title{font-size: 14px}
    </style>
{% endblock %}
{% block title %}
    资产管理
{% endblock %}
{% block content %}
<div class="wraper container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!--导航-->
            <ul class="nav nav-tabs">
                {% if perms.cmdb.view_host or perms.cmdb.view_database %}
                <li class="active">
                    <a href="{% url 'cmdb:overview' %}"  aria-expanded="true">
                        <span class="visible-xs"><i class="fa fa-home"></i></span>
                        <span class="hidden-xs">展示</span>
                    </a>
                </li>
                {% endif %}

                 {% if perms.cmdb.view_host or perms.cmdb.view_database %}
                <li class="">
                    <a href="{% url 'cmdb:hosts' %}"  aria-expanded="false">
                        <span class="visible-xs"><i class="fa fa-home"></i></span>
                        <span class="hidden-xs">总览</span>
                    </a>
                </li>
                {% endif %}


            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="overview">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">311项目信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="panel panel-color panel-default panel-small">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">服务器分布信息</h4>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="311_assets" style="height:180px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="panel panel-color panel-default panel-small">
                                                <div class="panel-heading" style="">
                                                    <h3 class="panel-title">运行状态</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="311_function" style="height:180px;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">509项目信息</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="panel panel-color panel-default panel-small">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title">服务器分布信息</h3>
                                                </div>
                                                <div class="panel-body">
                                                     <div id="509_assets" style="height:180px;"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="panel panel-color panel-default panel-small">
                                                <div class="panel-heading" style="">
                                                    <h3 class="panel-title">运行状态</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="509_function" style="height:180px;"></div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="profile">
                </div>
                <div class="tab-pane" id="messages">
                </div>
                <div class="tab-pane" id="settings">
                </div>
            </div>
        </div>
    </div> <!-- End row -->
</div>
{% endblock %}
{% block js %}
    <script src="/static/assets/echarts/echarts.min.js"></script>
    <script src="/static/assets/echarts/macarons.js"></script>
    <script src="/static/assets/jqcloud/jqcloud-1.0.4.js"></script>
    <script>
        //311服务器分布信息
        var data = {{overview.311_assets_count|safe}};
        // var data = [{"name": "阿里云", "value": 40}, {"name": "腾讯云", "value": 26},{"name": "云", "value": 26},{"name": "1", "value": 26},{"name": "2", "value": 26},{"name": "a", "value": 26}];
        var legend_data = [];
        var host_nums = 0;
        for(var i=0;i<data.length;i++){
            legend_data.push(data[i]['name']);
            host_nums += data[i]['value']
        }
        var cloudAssetsChart = echarts.init(document.getElementById('311_assets'), 'macarons');
        var cloudAssetsOption = {
            title:{
                text: host_nums,
                textStyle:{
                    color: 'black',
                    fontWeight: 600,
                },
                subtext: '总主机数',
                subtextStyle:{
                    color: 'black',
                    fontSize: 16,
                },
                top: '35%',
                left:'20%'
            },
            tooltip: {
                show: true,
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                data: legend_data,
                selectedMode:false,
                top: 'middle',
                left: '55%',
                itemGap: 20,
                formatter: function (name) {
                    let target;
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].name === name) {
                            target = data[i].value
                        }
                    }
                    return name + "：" + target
                }
            },
            series: [
                {
                    name: '环大小',
                    type: 'pie',
                    center: ['25%', '50%'],
                    radius: ['75%', '82%'],
                    avoidLabelOverlap: true,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: false,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: true
                        }
                    },
                    data: data
                }
            ]
        };
        cloudAssetsChart.setOption(cloudAssetsOption);
    </script>
    <script>
        //311运行状态
        var data = {{ overview.311_function_count|safe }};
        // var data = [{'name': '服务器故障', 'value': 0}, {'name': '软件故障', 'value': 0}, {'name': '正常', 'value': 22}]
        var legend_data = [];
        var asset_count = 0;
        for(var i=0;i<data.length;i++){
            legend_data.push(data[i]['name']);
            asset_count += data[i]['value']
        }
        var cloudAssetsChart = echarts.init(document.getElementById('311_function'), 'macarons');
        var cloudAssetsOption = {
            title:{
                text: asset_count,
                textStyle:{
                    color: 'black',
                    fontWeight: 600,

                },
                subtext: '总主机数',
                subtextStyle:{
                    color: 'black',
                    fontSize: 16,
                },
                top: '35%',
                left:'20%',

            },
            tooltip: {
                show: true,
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                data: legend_data,
                selectedMode:false,
                top: 'middle',
                left: '55%',
                itemGap: 20,
                formatter: function (name) {
                    let target;
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].name === name) {
                            target = data[i].value
                        }
                    }
                    return name + "：" + target
                }
            },
            series: [
                {
                    name: '环大小',
                    type: 'pie',
                    center: ['25%', '50%'],
                    radius: ['75%', '82%'],
                    avoidLabelOverlap: true,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: false,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: true
                        }
                    },
                    data: data
                }
            ]
        };
        cloudAssetsChart.setOption(cloudAssetsOption);
    </script>
    <script>
        //509项目信息
        var data = {{ overview.509_assets_count|safe }} ;
        // var data = [{'name': '大郊亭', 'value': 3}, {'name': '东古城', 'value': 5}, {'name': '佛山三水302', 'value': 3}, {'name': '佛山三水304', 'value': 4}];
        var legend_data = [];
        var host_nums = 0;
        for(var i=0;i<data.length;i++){
            legend_data.push(data[i]['name']);
            host_nums += data[i]['value']
        }
        var businessLineAssetsChart = echarts.init(document.getElementById('509_assets'), 'macarons');
        var businessLineAssetsOption = {
            title:{
                text:host_nums,
                textStyle:{
                    color: 'black',
                    fontWeight: 600,
                },
                subtext: '总主机数',
                subtextStyle:{
                    color: 'black',
                    fontSize: 16,
                },
                top: '35%',
                left:'20%'
            },
            tooltip: {
                show: true,
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                data: legend_data,
                selectedMode:false,
                top: 'middle',
                left: '55%',
                itemGap: 20,
                formatter: function (name) {
                    let target;
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].name === name) {
                            target = data[i].value
                        }
                    }
                    return name + "：" + target
                }
            },
            series: [
                {
                    name: '509',
                    type: 'pie',
                    center: ['25%', '50%'],
                    radius: ['75%', '82%'],
                    avoidLabelOverlap: true,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: false,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: true
                        }
                    },
                    data: data
                }
            ]
        };
        businessLineAssetsChart.setOption(businessLineAssetsOption);
    </script>
    <script>
        //311运行状态
        var data = {{ overview.509_function_count|safe }};
        // var data = [{'name': '服务器故障', 'value': 0}, {'name': '软件故障', 'value': 0}, {'name': '正常', 'value': 22}]
        var legend_data = [];
        var asset_count = 0;
        for(var i=0;i<data.length;i++){
            legend_data.push(data[i]['name']);
            asset_count += data[i]['value']
        }
        var cloudAssetsChart = echarts.init(document.getElementById('509_function'), 'macarons');
        var cloudAssetsOption = {
            title:{
                text: asset_count,
                textStyle:{
                    color: 'black',
                    fontWeight: 600,

                },
                subtext: '总主机数',
                subtextStyle:{
                    color: 'black',
                    fontSize: 16,
                },
                top: '35%',
                left:'20%',

            },
            tooltip: {
                show: true,
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                data: legend_data,
                selectedMode:false,
                top: 'middle',
                left: '55%',
                itemGap: 20,
                formatter: function (name) {
                    let target;
                    for (let i = 0; i < data.length; i++) {
                        if (data[i].name === name) {
                            target = data[i].value
                        }
                    }
                    return name + "：" + target
                }
            },
            series: [
                {
                    name: '环大小',
                    type: 'pie',
                    center: ['25%', '50%'],
                    radius: ['75%', '82%'],
                    avoidLabelOverlap: true,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            show: false,
                            textStyle: {
                                fontSize: '30',
                                fontWeight: 'bold'
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: true
                        }
                    },
                    data: data
                }
            ]
        };
        cloudAssetsChart.setOption(cloudAssetsOption);
    </script>
    <script>
        $('.cmdb').addClass('active');
        $('.cmdb .assets').addClass('active');
    </script>
{% endblock %}
