{% extends 'base.html' %}
<html lang="en">
{% block title %}
自动运维平台
{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/assets/select2/select2.css" />
{% endblock %}
<!--        主页面信息重写-->
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% if object %}编辑{% else %}添加{% endif %}部署局点</h3>
                </div>
                <div class="panel-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                      <form class="form-horizontal" role="form" action="" method="post">
                      {% csrf_token %}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">所属项目：</label>
                                <div class="col-sm-10">
                                    <select data-placeholder="请选择一种类型" name="type" id="type" class="select2" tabindex="4">
                                        {% for type in types %}
                                            <option value="{{ type.id }}" {% if object.type_id == type.id %}selected{% endif %}>{{ type.name_cn }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                          <div class="form-group">
                                <label for="name_cn" class="col-sm-2 control-label">局点名称：</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="name_cn" name="name_cn" value="{{ object.name_cn }}" autocomplete="off">
                                </div>
                            </div>
                          <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">局点代号：</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="name" name="name" value="{{ object.name }}" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group m-b-0">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" name="_save" class="btn btn-primary">保存</button>
                                    <a type="button" class="btn btn-info" href="{% url 'cmdb:tags' %}">返回</a>

                                </div>
                            </div>
                      </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script src="/static/assets/select2/select2.min.js" type="text/javascript"></script>
    <script>
        jQuery(".select2").select2({
            width: '100%'
        });
    </script>
    <script>
        $('.taggit').addClass('active');
        $('.taggit .tags').addClass('active');
    </script>
{% endblock %}