{% extends "base.html" %}
{% block head %}

<!-- Plugin Css-->
        <link rel="stylesheet" href="/static/assets/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="/static/assets/jquery-datatables-editable/datatables.css" />

        <link href="/static/assets/sweet-alert/sweet-alert.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

            <!-- Page Content Start -->
            <div class="wraper container-fluid">
                <!-- herd start-->
                <div class="page-title">
                    <h3 class="title">用户信息</h3>
                </div>
                <!-- herd end -->

                <div class="panel">
                    <div class="panel-body">
                        <!--add start-->
                        <div class="row">
                            <div class="col-sm-6 m-b-30">
                                <a  href="/usersadd/"><button  class="btn btn-primary waves-effect waves-light"> 添加<i class="fa fa-plus"></i></button></a>
                            </div>
                        </div>
                        <!--add end-->

                        <div class="col-sm-12">
                            <div class="dataTables_filter">
                                <label>
                                    <form method="get"  action="/userlist/" >
                                        搜索：
                                        <input type="search"  name="keyword" value="{{object.id}}">
                                    </form>
                                </label>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped" id="datatable-editable">
                            <thead>
                                <tr>
                                    <th>UID</th>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>联系方式</th>
                                    <th>性别</th>
                                    <th>编辑</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr >
                                    <td>{{ user.id}} </td>
                                    <td>{{ user.username}} </td>
                                    <td>{{ user.name}}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>
                                        {% if user.sex == 0 %} 男 {% elif user.sex == 1%} 女 {%endif%}
                                    </td>
                                    <td class="actions">
                                        <a href="/usersmod/{{user.id}}" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                        {% if perms.auth.delete_group %}
                                        <a class="on-default remove-row sa-warning"  uid = "{{ user.id }}" uname = "{{ user.name }}"><i class="fa fa-trash-o"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Page Content Ends -->

{% endblock %}

{% block js %}
        <script src="/static/assets/sweet-alert/sweet-alert.min.js"></script>
<!--        <script src="/static/assets/sweet-alert/sweet-alert.init.js"></script>-->

<script type="text/javascript">
    //Parameter
    $('.sa-warning').on('click',function(){
        var delid = $(this).attr("uid")
        swal({
            title: "警告!",
            text: "您正在删除用户" + $(this).attr("uname") ,
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "确认删除!",
            cancelButtonText: "取消删除！",
            closeOnConfirm: false,
            closeOnCancel: false
        },function(isConfirm){
            if (isConfirm) {
                $.ajax({
                    url:"/usersdel/",
                    type:"post",
                    data:{"id": delid},

                    success: function(msg){
                        if (msg.code ==0){
                            swal("成功!", msg.result, "success");
                        }else{
                            swal("失败!", msg.result, "error");
                            }
                                            }
                    })

            } else {
                swal("取消", "您取消了删除操作", "error");
            }
        });
    });
</script>

{% endblock %}